html {
    min-height: 100%
}
body{
  width: 100vw;
  height: 100vh;
}

/*h1{
  margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}*/

main{
  width: 100vw;
  z-index: 0;
  /*position: relative;*/
}

header {
  width: 60vw;
  text-align: center;
  margin: 0 auto;
  padding-top: 15vh;
  font-size: 5vw;
  font-family: Raleway-bold;
}

#inputArea {
  padding-top: 15vh;
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

#userInput {
  border: 5px solid rgba(0, 0, 0, 0.1);;
  box-shadow: inset 0 0 8px rgba(0,0,0,.4),
                    0 0 10px rgba(0,0,0,.4);
  padding: 15px;
  width: 40vw;
  text-align: center;
  font-size: 2vw;
  vertical-align: middle;
  display: inline-block;
}

#userInput:active {
  box-shadow: inset 0 0 8px rgba(0,0,0,.8),
                    0 0 10px rgba(0,0,0,.8);
  border: 5px solid rgba(0, 0, 0, 0.4);
  background-color: gray;
  color: white;
}

#button{
  background-color: white;
  font-size: 1.5vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  margin-left: 10px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0,0,0,.4);
}
#button:hover{
  background-color: gray;
  border: 5px solid rgba(0, 0, 0, 0.4);
  color: white;
}
#button:active{
  background-color: white;
  box-shadow: inset 0 0 3px rgba(0,0,0,.4),
                    0 0 4px rgba(0,0,0,.6);
  border: 5px solid rgba(0, 0, 0, 0.4);
  color: black;
}

#wordDiv{
  width: 100vw;
  /*font-size: 10vw;*/
  margin: 0 auto;
  text-align: center;
  /*padding-top: 27vh*/
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

#reset{
  position: absolute;
  bottom: 0;
  right: 0;
}

#reset img{
  width: 5vw;
  box-shadow: 0, 0, 8px, rgba(255,255,255,.5);
}

#shuffle{
  position: absolute;
  bottom: 0;
  right: 6vw;
}

#shuffle img{
  width: 5vw;
  box-shadow: 0, 0, 8px, rgba(255,255,255,.5);
}

#randoBlock{
  width: 5vw;
  clear: both;
  margin-top: 20px;
}

#redditBlock{
  width: 5vw;
  clear: both;
  margin-top: 20px;
}

#definitionDiv{
  z-index: 1;
  width: 50vw;
  margin: 0 auto;
  position: absolute;
  bottom: 5vw;
  left: 50%;
  transform: translateX(-40%);
  text-align: center;
}

#definitionP{
  text-align: left;
}
#definitionP::first-letter{
  text-transform: uppercase;
}

#exampleP{
  font-style: italic;
  text-align: right;
}

#authorP{
  text-align: right;
}

p{
  font-size: 1.3em;
}
