@font-face{
  font-family: 'Raleway-regular';
  src: url('../Raleway-Regular.ttf');
}

@font-face{
  font-family: 'Raleway-bold';
  src: url('../Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-bold';
  src: url('../Lato-Bold.ttf')
}

@font-face{
  font-family: 'bebas';
  src: url('../BebasNeue.otf')
}

@font-face{
  font-family: 'walt';
  src: url('../waltograph42.otf')
}



.taseBro{
  font-family: Raleway-regular;
  text-shadow: 2px 2px 8px rgba(0,0,0,.1);
}

  .taseBro h1 { color: white; font-family: 'Raleway-bold',sans-serif;  font-weight: 800; text-transform: uppercase; }


  .tasebro h2 { color: #ffffff; font-family: 'Raleway-regular',sans-serif;  font-weight: 800;}


  .tasebro p { color: #f8f8f8; font-family: 'Raleway-regular',sans-serif;  font-weight: 500; }


  .tasebro a { color: #c8c8c8; text-decoration: underline; }


  .tasebro a:hover { color: #1c1c1c; text-decoration: underline; }

.earlyNight{
text-shadow: 2px 2px 8px rgba(0,0,0,.1);
}

  .earlyNight h1 { color: rgba(255,255,255,.9); font-family: 'Lato-bold', sans-serif; font-weight: 300; text-transform: uppercase;}


  .earlyNight p { color: #adb7bd; font-family: 'Lucida Sans', Arial, sans-serif;  text-indent: 30px; margin: 0; }


  .earlyNight a { color: #fe921f; text-decoration: underline; }


  .earlyNight a:hover { color: #ffffff }


  #eNightDate {
    background: #fe921f;
    color: #ffffff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0 0 30px;
    padding: 10px 15px 8px;
    text-transform: uppercase;
    box-shadow: 2px 2px 8px rgba(0,0,0,.3);
    position: absolute;
    top: 60px;
    left: 60px;
    }

.beautyWords{
  float: left;
  }

  .beautyWords h1 {color: rgba(242,242,242,1); background: #ff4a4a;  font-weight: 700; font-family: 'Libre Baskerville', serif; float: left; margin-left: 50px; box-shadow: 1px 1px 4px rgba(0,0,0, .2);}

  .beautyWords p {background: #f2f2f2; color: #ff4a4a;}

#blockquote {
  float: left; margin-left: 50px;
  position: relative;
  bottom: 0;
  width: 5vw;
}

.flowers{
  font-family: bebas;
  color: white;
  letter-spacing: .3em;
  text-shadow: 2px 2px 10px rgba(0,0,0,.3);
}

#flowers{
  position: absolute;
  width: 80vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 3px 3px 8px rgba(0,0,0,.5)
  /*opacity: .9;*/
}

#castle{
  position: absolute;
  opacity: .7;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  width: 40vw;
}

.walt{
  color: white;
  font-family: walt;

}
